<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PowerBar.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <PowerBar.My.MySettings>
            <setting name="VUInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NetAdapter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GeneralInterval" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="LVUFore" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="LVUBack" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="RVUFore" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="RVUBack" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CPUFore" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="CPUBack" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="RAMFore" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="RAMBack" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Foreground" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Background" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Transparent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Position" serializeAs="String">
                <value>3</value>
            </setting>
        </PowerBar.My.MySettings>
    </userSettings>
</configuration>
